

// **Document Structure**
// html
// -- body
// ---- #root
// ------ #header 
// ------ #navbar (not sized)
// -------- #navbar-brand
// -------- #navbar-menu
// ------ #main (optional)
// -------- #sidebar
// -------- #appcontent
// ---------- #blade 
// ------------ #blade-title
// ------------ #blade-body
// ---- #statusbar

$header-height: 52px;
$navbar-height: 52px;
$statusbar-padding: 5px;
$statusbar-content-height: 35px;
$statusbar-height: $statusbar-content-height - (2*$statusbar-padding);

// Necessary for scroll bars embedded in panels
html,body,#root { 
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}


// Not currently used. 
#header {
  height: $header-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border:  1px solid black;
  pad: 1em;
}




/* 
 * Navigation bar is the first section in the absolute layout.
 */
.navbar {
  display: flex;
  justify-content: flex-end;
  min-height: $navbar-height;
  flex-shrink: 0;
  align-items: stretch;
}
.navbar-end {  
  display: flex;
  justify-content: flex-end;
  padding-right: 1em; 
  align-items: center;
  min-height: $navbar-height;
}
.navbar-end a {
  padding-left: 1em;  
}





/* 
 * Main section includes all blades. 
 */
#main {  
  position: absolute;
  top: $navbar-height;
  bottom: $statusbar-height;
  left: 0px;
  right: 0px;
  display: flex; // parent of other content
}
#main aside.sidebar {
  overflow: auto;
}
#main aside#sidebar1 {
  width: 300px;
  overflow: auto;
  // order: 1; // Used as a demonstration
  padding: 20px;
  vertical-align: top;
}
#main .blade {
  overflow: auto;
  flex-grow: 0;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}
#main .blade:last-child {
  flex-grow: 1;
}
#main .blade.listings {  
  width: 400px;
}
#main .blade .blade-title {
  padding: 5px;
}
#main .blade .blade-body {
  overflow: auto;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}




/* 
 * Status bar is the last section of the page.
 */
#statusbar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $statusbar-height;
  padding: 0px;
}



/*
 * Undecorated elements in demo
 * * .box, .form-group, .section
 */

// .menu-list {
//   line-height: 1.25; }
// .menu-list a {
//   display: block;
//   padding: 0.5em 0.75em; }
// .menu-list li ul {
//   margin: 0.75em;
//   padding-left: 0.75em; }

